src/main/resources/XML/config.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  elementFormDefault="qualified">

    <xs:element name="config" type="T_config"/>
    <xs:complexType name="T_config">
        <xs:sequence>
            <xs:element name="port" type="T_port"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="T_port">
        <xs:attribute name="value" type="T_port_Value"/>
    </xs:complexType>


    <xs:simpleType name="T_port_Value">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,6}"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>